body {
  background-image: url(chkopcopcv.jpeg);
  font-family: ubuntu;
}

h1 {
  color: #fff;
  font-size: 64px;
  letter-spacing: 2px;
  margin-top: 80px;
  text-align: center;
}

.content {
  background: #fff;
  max-width: 960px;
  margin: 30px auto;
  padding: 20px 30px;
  border-radius: 10px 120px 10px 10px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

tr {
  list-style-type: none;
  padding: 0;
  color: rgb(235, 25, 200);
}

td {
  padding: 20px;
  background: #f6f6f6;
  font-size: 20px;
  color: #555;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  height: 46px;
  width: 300px;
  text-align: center;
}

th {
  font-size: 20px;
}

table {
  border: 8px rgb(91, 116, 224) groove;
  border-radius: 25px;
}

form input {
  float: left;
  width: 25%;
  margin: 0;
  border: 0;
  border-bottom: 1px solid rgb(221, 132, 132);
  margin: 0 1%;
  padding: 5px;
  display: block;
  box-sizing: border-box;
  font-size: 18px;
}

form input:focus {
  outline: none;
  border-bottom: 3px solid #88236f;
  padding-bottom: 5px;
  transition: all ease 0.2s;
}

form:after {
  content: "";
  clear: both;
  display: block;
}

.btn1 {
  outline: none;
  margin-bottom: 2px;
  border: 0;
  background: rgb(236, 221, 221);
  border-radius: 10px;
  padding: 13px;
  width: 10%;
  /* box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.1); */
  font-weight: bold;
  font-family: ubuntu;
  /* letter-spacing: 1px; */
  color: #999;
  border-right: #711200 2px solid;
  padding-right: 8px;
  border-top: white 2px solid;
  padding-left: 8px;
  font-size: 12pt;
  padding-bottom: 8px;
  border-left: white 2px solid;
  padding-top: 8px;
  border-bottom: #711200 2px solid;
  font-family: Tahoma;
}

.btn2 {
  outline: none;
  margin-bottom: 2px;
  border: 0;
  background: rgb(251, 252, 199);
  border-radius: 10px;
  padding: 13px;
  width: 10%;
  /* box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.1); */
  font-weight: bold;
  font-family: ubuntu;
  /* letter-spacing: 1px; */
  color: rgb(182, 75, 75);
  border-right: #711200 2px solid;
  padding-right: 8px;
  border-top: white 2px solid;
  padding-left: 8px;
  font-size: 12pt;
  padding-bottom: 8px;
  border-left: white 2px solid;
  padding-top: 8px;
  border-bottom: #711200 2px solid;
  font-family: Tahoma;
}

.btn3 {
  outline: none;
  margin-bottom: 2px;
  border: 0;
  background: rgb(251, 252, 199);
  border-radius: 10px;
  padding: 13px;
  width: 10%;
  /* box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.1); */
  font-weight: bold;
  font-family: ubuntu;
  /* letter-spacing: 1px; */
  color: rgb(182, 75, 75);
  border-left: #711200 2px solid;
  padding-right: 8px;
  border-bottom: white 2px solid;
  padding-left: 8px;
  font-size: 12pt;
  padding-bottom: 8px;
  border-right: white 2px solid;
  padding-top: 8px;
  border-top: #711200 2px solid;
  font-family: Tahoma;
}
